<div class="box tabular">
  <h3>General</h3>
  <P>
  	<%= label_tag('deployment_task_label', l(:label_deployment_task_label)) %>
  	<%= f.text_field :label %>
  	<em class="info">
      <%= l(:text_deployment_task_label)%>
    </em>
  </p>
  <p>
  	<%= label_tag('deployment_task_description', l(:label_deployment_task_description)) %>
  	<%= f.text_field :description %>
  	<em class="info">
      <%= l(:text_deployment_task_description)%>
    </em>
  </p>
  <h3>Options</h3>
  <p>
  	<%= label_tag('deployment_task_continue_on_error', l(:label_deployment_task_continue_on_error)) %>
  	<%= f.check_box :continue_on_error %>
  	<em class="info">
      <%= l(:text_deployment_task_continue_on_error)%>
    </em>
  </p>
  <h3>Type and Metadata</h3>
  <p>
  	<%= label_tag('deployment_task_task_type', l(:label_deployment_task_type)) %>
  	<% if action == 'edit' %>
  	<%= f.select :task_type, options_for_select(DeploymentTask::TASK_TYPES.collect {|s| [l("deployment_task_type_#{s}"), s] }, @task.task_type), {:required => true},
  	  :onchange => "updateTaskFrom('#{escape_javascript url_for(:controller => 'deployment_tasks', :action => action, :id => @project, :environment_id => @environment.id, :target_id => @target.id, :task_id => @task.id, :format => 'js')}')" %>
  	<% else %>
  	<%= f.select :task_type, options_for_select(DeploymentTask::TASK_TYPES.collect {|s| [l("deployment_task_type_#{s}"), s] }, @task.task_type), {:required => true},
  	  :onchange => "updateTaskFrom('#{escape_javascript url_for(:controller => 'deployment_tasks', :action => action, :id => @project, :environment_id => @environment.id, :target_id => @target.id, :format => 'js')}')" %>
  	<% end %>
    <em class="info">
      <%= l(:text_deployment_task_type)%>
    </em>
  </p>
  <div id="metadata">
  	<%= render :partial => "deployment_tasks/metadata/#{@task.task_type}", :locals => { :f => f, :metadata => @task.metadata }%>
  </div>
</div>
<p>
  <%= submit_tag(@task.new_record? ? l(:button_create) : l(:button_save)) %>
</p>
