<h3><%= l(:label_deployment_task_new) %> for <%= target.hostname %></h3>
<%= form_for @task, :url => {:action => 'create', :id => @project, :environment_id => @environment.id, :target_id => @target.id }, :html => {:method=>:put, :id => 'deployment_task-form', :multipart => true} do |f| %>
  <%= render :partial => 'deployment_tasks/form', :locals => { :f => f, :action => 'new' } %>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'update_deploy_task_metadata.js', :plugin => "deployment" %>
<% end %>
