<div class="box tabular">
  <p>
  	<%= label_tag('deployment_workflow_server_name', l(:label_workflow_server_name)) %>
  	<%= f.text_field :name %>
    <em class="info">
      <%= l(:text_workflow_server_name)%>
    </em>
  </p>
  <p>
    <%= label_tag('deployment_workflow_server_description', l(:label_workflow_server_description)) %>
    <%= f.text_field :description %>
    <em class="info">
      <%= l(:text_workflow_server_description)%>
    </em>
  </p>
  <p>
    <%= label_tag('deployment_workflow_server_type', l(:label_workflow_server_type)) %>
    <%= f.select :deploy_type, options_for_select(DeploymentServer::DEPLOYMENT_TYPES.collect {|s| [l("deployment_server_type_#{s}"), s]}, @server.deploy_type) %>
    <em class="info">
  	  <%= l(:text_workflow_server_type)%>
    </em>
  </p>
</div>
<p>
  <%= submit_tag(@server.new_record? ? l(:button_create) : l(:button_save)) %>
</p>
