<div class="contextual">
	
</div>
<% if params[:server_id] %>
  <h3>Deployments to <%= DeploymentServer.find(params[:server_id]).name %></h3>
<% elsif params[:workflow_id] %>
  <h3>Deployments to <%= DeploymentWorkflow.find(params[:workflow_id]).environment %></h3>
<% else %>
  <h3>All Deployments</h3>
<% end %>
<% if @deployments.empty? %>
<p class="nodata">
	No deployments
</p>
<% else %>
  <table class="list">
  	<thead>
  	  <th>Date</th>
  	  <% if params[:workflow_id] %>
  	  <th>Server</th>
  	  <% end %>
  	  <th>Author</th>
  	  <th>Comment</th>
  	  <th>Status</th>
  	  <th>Actions</th>
    </thead>
    <tbody>
  <% @deployments.each do |deployment| %>
    <tr>
      <td><%= deployment.created_on %></td>
      <% if params[:workflow_id] %>
      <td><%= deployment.deployment_server.name %></td>
      <% end %>
      <% user = User.find(deployment.user_id) %>
      <td><%= user.firstname %> <%= user.lastname %></td>
      <td><%= deployment.description %></td>
      <td><%= deployment.status %></td>
      <td class="buttons">Redeploy Log</td>
    </tr>
  <% end %>
    </tbody>
  </table>
<% end %>
